.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.post-button{
  padding: 10px 20px;
  float: right;
  clear: both;
}

.post-list{
  width: 50%;
}

.post-item{
  width: 100%;
  background-color: #e2e8ff;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.text-wrapper{
  min-height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.post-text{
  display: block;
  width: 80%;
}

.post-id{
  display: block;
  width: 20%;
  overflow: hidden;
  text-align: right;
}

.review-list{
  position: relative;
  right: -10px;
  margin-left: auto;
  display: flex;
  width: 70%;

  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.product-item{
  padding: 22px;
  margin-bottom: 10px;
  background-color: #ffd9d9;
  width: 100%;
}

.reaction {
  position: absolute;
  width: 30%;
  display: flex;
  bottom: -20px;

}

.like-icon, .dislike-icon{
  width: 10px;
}

.dislike-icon{
  margin-left: 10px;
}

.title-wrapper{
  position: relative;
  padding-bottom: 15px;
}

.form-wrapper{
  box-sizing: border-box;
  padding: 10px;
}

.input-wrapper{
  width: 100%;
}

.input-review{
  width: 100%;
  min-height: 60px;
}